@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --layout: #e0eef4;
    --white: #ffffff;
    --price: #212020;
    --card-pick: #fe666e;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
}

h1,
h2,
h3 {
    text-align: center;
}

.layout {
    width: 100%;
    height: 100%;
    background-color: var(--layout);
}

.layout__main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main__title {
    font-size: 2.5rem;
    color: var(--card-pick);
    font-weight: bold;
    margin-bottom: 3rem;
}

.main__cards {
    display: flex;
}

.cards__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 5rem;
    text-align: center;
    background-color: var(--white);
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.main__cards .cards__card:first-child {
    border-radius: 1.5rem 0 0 1.5rem;
    margin-right: 1.3rem;
}

.main__cards .cards__card:last-child {
    border-radius: 0 1.5rem 1.5rem 0;
    margin-left: 1.3rem;
}

.card__title {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--price);
    opacity: 0.7;
    margin-bottom: 1rem;
}

.card__price {
    font-size: 3.5rem;
    font-weight: bold;
    opacity: 0.7;
    padding-bottom: 2rem;
}

.cards__card p {
    width: 100%;
    border-bottom: 1px solid rgba(33, 32, 32, 0.1);
    padding: 1rem 0;
    font-size: 1.2rem;
    font-weight: 600;
    opacity: 0.6;
}

.card__quality {
    border-top: 1px solid rgba(33, 32, 32, 0.1);
}

.card__btn {
    width: 100%;
    margin-top: 3rem;
    background-color: var(--card-pick);
    border-radius: 0.5rem;
    color: var(--white);
    font-size: 1.3rem;
    font-weight: 700;
    padding: 0.6rem;
}

.cards__card--zoom {
    background-color: var(--card-pick);
    border-radius: 1.5rem;
    transform: scale(1.1);
}

.cards__card--zoom .card__title,
.cards__card--zoom .card__price,
.cards__card--zoom p {
    color: var(--white);
    opacity: 1;
}

.cards__card--zoom p {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.cards__card--zoom .card__quality {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.cards__card--zoom .card__btn {
    color: var(--card-pick);
    background-color: var(--white);
    transition: all 300ms ease-in-out;
}

.cards__card--zoom .card__btn:hover {
    transform:scale(1.2);
}

.main__subs {
    margin-top: 4rem;
    font-size: 1.3rem;
    font-weight: 500;
    opacity: 0.7;
}

/* Estilo del switch */
.main__subs-extra {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

/* Ocultar el checkbox original */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Estilo del slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(33, 32, 32, 0.3); /* Color de fondo del switch */
    border-radius: 34px;
    transition: 0.4s;
}

/* Bola dentro del slider */
.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}

/* Cambia el background y mueve la bola cuando esté activado */
input:checked + .slider {
    background-color: var(
        --card-pick
    ); /* Color de fondo cuando está activado */
}

input:checked + .slider:before {
    transform: translateX(20px); /* Mueve la bola a la derecha */
}
