body {
  background-color: beige;
}

.flex-container {
  border: 1px solid black;
  background-color: gray;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 600px;
  justify-content: center;
  align-content: center;
  width: 80%;
  margin: 0 auto;
}

.box {
  border: 1px solid rgb(70, 69, 69);
  background-color: white;
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  width: 200px;
  height: 200px;
  text-align: center;
  line-height: 200px;
  margin: 5px;
}

.box1 {
  background-color: lightblue;
}

.box2 {
  background-color: lightcoral;
}

.box3 {
  background-color: lightgreen;
}
