html {
    font-size: 10px;
}

body {
    background-color: rgb(242, 248, 252);
    font-family: sans-serif;
}

.layout {
    width: 40%;
    height: 99.8%;
    margin: 0 auto;
    font-size: 1.5rem;
}

.layout__header {
    padding: 2rem 0;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(61, 117, 248);
    margin-bottom: 2rem;
}

.header__top i {
    font-size: 2.5rem;
}

.header__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.header__search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.search__input {
    width: 90%;
    padding: 0.8rem 1rem;
    border: none;
    border-radius: 7px 0 0 7px;
    background-color: rgb(216, 218, 220);
    font-weight: bold;
}

.search__input,
.header__languages:focus {
    outline: none;
}

.header__search i {
    width: 10%;
    padding: 0.9rem 1rem;
    background-color: rgb(216, 218, 220);
    border-radius: 0 7px 7px 0;
    cursor: pointer;
}

.header__languages {
    width: 30%;
    padding: 0.8rem 1rem;
    border: none;
    border-radius: 7px;
    background-color: rgb(216, 218, 220);
    font-weight: bold;
}

.languages__option {
    font-weight: bold;
}

.main__result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
}

.result__word {
    font-size: 4rem;
    font-weight: bold;
}

.result__btn {
    background-color: rgb(14, 152, 226);
    width:5rem;
    height: 5rem;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result__btn i {
    color: white;
    font-size: 2rem;
}
